/* Empilhando os itens */
#oque .itens {
  display: block;
  padding: 1rem;
}

/* Alinhando o ícone na esquerda */
#oque .itens .item {
  display: flex;
  text-align: left;
}

#oque .itens .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}
