@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* Resetando margin e padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Usando fonte Roboto importada do Google Fonts */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

/* Removendo o underscore dos links */
a {
  text-decoration: none;
}

/* Add margin top-bottom de 0.75 e 0 de left-right */
p {
  margin: 0.75rem 0;
}

/* Classes de utilidade */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.texto-centralizado {
  text-align: center;
}

/* Cor primária */
.texto-primario {
  color: #93cb52;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.bg-primario {
  background: #93cb52;
  color: #fff;
}

.cabecalho {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.cabecalho-m {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.paragrafo {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #7ab436;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.lista {
  margin: 0.5rem 0;
  list-style: none;
}

.lista li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar - grudada, ficar na ponta esquerda superior */
/* flex - navbar e seus filhos(h1 e ul) flutuando horizontalmente */
/* 1rem = 16px */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.7rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

/* Principal */
#principal {
  background: #333 url("../img/principal.jpg") no-repeat center center/cover;
  /* Cobriu a tela toda*/
  height: 100vh;
  color: #fff;
}

/* Básico de flex-box*/
#principal .conteudo-principal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay - Transparência, escurecer um pouco mais a img*/
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Parte do O que fazemos */
#oque .itens {
  /* Alinha horizontalmente */
  display: flex;
  /* Distância entre os elementos, em todos os lados*/
  padding: 1rem;
}

#oque .itens .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#oque .itens .item i {
  background: #93cb52;
  /* Entre o icone e o background*/
  padding: 1rem;
  border-radius: 50%;
  /* Entre o nome e o ícone*/
  margin-bottom: 1rem;
}

/* Seção: Quem Somos */
#quem {
  display: flex;
}

#quem div {
  flex: 1;
}

#quem .quem-img {
  background: url("../img/pessoas.jpg") no-repeat center center/cover;
}

/* Seção Clientes */
#clientes .itens {
  display: flex;
}

#clientes .itens img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Formulário de Contato */
#contato {
  display: flex;
}

#contato .formulario-contato,
#contato .mapa {
  flex: 1;
}

#contato .formulario-contato .form-group {
  margin: 0.7rem;
}

#contato .formulario-contato label {
  display: block;
}

#contato .formulario-contato input,
#contato .formulario-contato textarea {
  width: 100%;
  padding: 0.5rem;
}
